<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1" />
   <meta name="description" content="A graphic design, web design, and art portfolio for Nate Gulledge."> 
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <title>Nate Gulledge</title>
  <meta property="og:title" content="Nate Gulledge's Design and Art Portfolio">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://nategulledge.com">
  <meta property="og:image" content="http://nategulledge.com/images/portfolio1.jpg">
  <meta property="og:description" content="This is my graphic design, web design, and art portfolio.">

<!-- style sheet reset -->
  <link rel="stylesheet" type="text/css" href="http://nategulledge.com/css/reset.css" />
<!-- style sheets for different screen sizes -->
  <link rel="stylesheet" type="text/css" href="http://nategulledge.com/css/master2.css" />

  <link rel="stylesheet" type="text/css" media="only screen and (min-width:50px) and (max-width:400px)"   href="http://nategulledge.com/css/phone-portrait.css">

  <link rel="stylesheet" type="text/css" media="only screen and (min-width:401px) and (max-width:500px)"   href="http://nategulledge.com/css/phone-landscape.css">

  <link rel="stylesheet" type="text/css" media="only screen and (min-width:501px) and (max-width:768px)"  href="http://nategulledge.com/css/tablet-portrait.css">

  <link rel="stylesheet" type="text/css" media="only screen and (min-width:769px) and (max-width:1024px)"  href="http://nategulledge.com/css/tablet-landscape.css">

  <link rel="stylesheet" type="text/css" media="only screen and (min-width:1025px)"  href="http://nategulledge.com/css/desktop.css">

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   
</head>
<body>

<div id="wrapper">
    
    <header id="page-header">
      <img src="http://nategulledge.com/images/logo-mark.png" width="50" height="50">
      
      <div id="logo">Nate Gulledge</div>
      <nav>
        <!--<a href="../../blog/index.php">Blog</a> -->
        <a href="../about.html">About</a>
        <a href="../index.html">Projects</a>
        <div class="clear-fix"></div>
      </nav>
      <div class="clear-fix"></div>
      
    </header>
  
  {{ content }}
  


{% include footer.html %}


